@charset "UTF-8";
section#floor.floor {
  width: 100%;
}

section#floor.floor div.inner {
  width: 100%;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#floor.floor div.inner div.floor-txt-wrapper {
  width: 480px;
  background-color: #f2f4ea;
  color: #000;
  padding: 80px 40px;
  height: auto;
  position: absolute;
}

section#floor.floor div.inner div.floor-txt-wrapper .section-ttl {
  margin: 0 auto 20px;
  text-align: left;
  font-size: 40px;
}

section#floor.floor div.inner div.floor-txt-wrapper h3#floor-ttl.floor-ttl {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 28px;
  margin-bottom: 20px;
}

section#floor.floor div.inner div.floor-txt-wrapper p#floor-txt.floor-txt {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 28px;
}

section#floor.floor div.inner .floor-items {
  width: 70%;
  margin-left: auto;
}

section#floor.floor div.inner .floor-items ul#floor-img-wrapper.floor-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#floor.floor div.inner .floor-items ul#floor-img-wrapper.floor-img-wrapper .floor-item {
  width: 48%;
  height: auto;
  margin-bottom: 40px;
}

section#floor.floor div.inner .floor-items ul#floor-img-wrapper.floor-img-wrapper .floor-item img.floor-img {
  width: 100%;
}

/* タブレット用レスポンシブ===================*/
@media (max-width: 900px) {
  section#floor.floor {
    width: 100%;
    margin-bottom: 0;
  }
  section#floor.floor div.inner {
    width: 90%;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#floor.floor div.inner div.floor-txt-wrapper {
    background-color: #f2f4ea;
    color: #000;
    padding: 80px 40px;
    height: auto;
    position: static;
  }
  section#floor.floor div.inner div.floor-txt-wrapper .section-ttl {
    margin: 0 auto 20px;
    text-align: left;
    font-size: 32px;
  }
  section#floor.floor div.inner div.floor-txt-wrapper h3#floor-ttl.floor-ttl {
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  section#floor.floor div.inner div.floor-txt-wrapper p#floor-txt.floor-txt {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 28px;
  }
  section#floor.floor div.inner .floor-items {
    width: 100%;
    margin: 40px auto;
  }
  section#floor.floor div.inner .floor-items ul#floor-img-wrapper.floor-img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#floor.floor div.inner .floor-items ul#floor-img-wrapper.floor-img-wrapper .floor-item {
    width: 48%;
    height: auto;
    margin-bottom: 40px;
  }
  section#floor.floor div.inner .floor-items ul#floor-img-wrapper.floor-img-wrapper .floor-item img.floor-img {
    width: 100%;
  }
}
/*# sourceMappingURL=floor.css.map */